<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间，作用就是对sql进行分类化管理,理解为sql隔离
 注意：使用mapper代理方法开发，namespace有特殊重要的作用
 -->
<mapper namespace="com.chuiyuan.dao.mybatis.UserMapper">

    <select id="findUserById" parameterType="int" resultType="com.chuiyuan.domain.User">
        SELECT * FROM user where uid=#{uid}
    </select>

    <select id="findUserByNameAndPasswd" parameterType="java.util.Map" resultType="com.chuiyuan.domain.User">
        SELECT * FROM user where username=#{username} AND passwd=#{passwd}
    </select>

    <select id="findUserByName" parameterType="String" resultType="com.chuiyuan.domain.User">
        SELECT * FROM user WHERE username LIKE '%${value}%'
    </select>

    <insert id="insertUser" parameterType="com.chuiyuan.domain.User">
        <selectKey keyProperty="uid" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT  INTO user (username, passwd, dep, role)
        VALUE (#{username},#{passwd},#{dep},#{role})
    </insert>

    <delete id="deleteUser" parameterType="java.lang.Integer">
        DELETE FROM user WHERE uid=#{uid}
    </delete>

    <update id="updateUser" parameterType="com.chuiyuan.domain.User">
        UPDATE user SET
        username=#{username}, passwd=#{passwd}, dep=#{dep}, role=#{role}
        WHERE uid=#{uid}
    </update>

    <select id="getLastId" resultType="java.lang.Integer">
        SELECT uid from user ORDER BY uid DESC LIMIT 1
    </select>
</mapper>



